.workflow-canvas-default-node {
    display: inline-block;
    padding: 4px;
    border: #909090 2px solid;
    border-radius: 5px;
    background-color: white;
    white-space: nowrap;
}

.workflow-canvas-default-node.running {
    border: #0388fc 2px solid;
}

.workflow-canvas-default-node.succeeded {
    border: #02c93e 2px solid;
}

.workflow-canvas-default-node.failed {
    border: #e63b02 2px solid;
}

.workflow-canvas-default-node > p {
    margin: 0px;
}

.default-node-main-container {
    display: flex;
    flex-direction: row;
}

.default-node-caption {
    margin: 0px 8px;
    line-height: 26px;
}

.default-node-icon {
    display: block;
    background-color: #909090;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 5px;
}